<!DOCTYPE html>

<html>
    <head>
        <title>Luis Alejo Data Scientist</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}" type="text/css">
    </head>
    
    <body>
        <h2 class="header">About Luis Alejo</h2>
        <p>My name is Luis, but you can call me Lou. I’m invested in my education and continuous growth as a developer. I’m a graduate of Flatiron School’s Software Engineering Immersive Program and current Data Science Fellow at The Knowledge House in New York City. 
        </p>
        <p>
I’m a full stack web and mobile app developer with experience in React, React Native and Ruby on Rails. I love programming, but I didn’t always know it. I’m a formerly signed musician with 10+ years experience as a recording artist. Through my music career I toured in Switzerland and Sweden as well as various cities stateside. In 2019, I was offered a contract renewal with the record label but chose to reject their offer. I wanted a more sustainable career, one where privacy and integrity were not traded for notoriety. That’s when I turned to code.
        </p>
        <p>
I’m the fourth (out of seven) of my siblings to become a programmer. I am fortunate to have had their support during the transition from full-time musician to full-time coder. Although my family was instrumental in this process, I could not have graduated or continued my studies independently without a real passion for writing code. What started out as a practical choice quickly became a deep and feverish devotion. 
        </p>
    </body>

</html>